.nov-cards-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem;
    margin-top: 2rem;
}


@media (max-width: 991px) {
    .nov-cards-container{
        flex-direction: column;
        height: 160vh;
    }    
}