.card{
  border: 1px solid rgb(173, 173, 173) !important;
}

.card-title {
  font-size: 1rem;
  line-height: 1.2rem;
  height: 2.4rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  word-break: break-word;
}

.card-body {
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}

.btn-primary {
  margin-top: auto;
}

.card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
