.card {
	border: 1px solid rgb(173, 173, 173) !important;
	border-radius: 8px;
	position: relative;
	overflow: hidden;
	transition: transform 0.3s ease;
}

.title-container {
	min-height: 3rem;
	margin-bottom: 0.5rem;
	display: flex;
	flex-direction: column;
}
.car-brand {
    display: block;
    font-size: 0.8rem;
    color: #777;
    margin-bottom: 0.2rem;
    text-align: left;
}

.card-title {
	font-size: 1rem;
	line-height: 1.2rem;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
	word-break: break-word;
	overflow: hidden;
	margin: 0;
	width: 100%;
}

.card-body {
	height: auto;
	min-height: 175px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 1rem;
	gap: 0.8rem;
}

.price-display {
	margin: 0.2rem 0;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	min-height: 3.5rem;
}

.verMas {
	margin-top: auto;
	width: 100%;
}

.price-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.2rem;
}

.offer-price {
	font-weight: bold;
	color: #f00707;
	font-size: 1.1rem;
}

.original-price {
	text-decoration: line-through;
	color: #666;
	font-size: 0.9rem;
}

.normal-price {
	font-weight: bold;
	font-size: 1.1rem;
}

.mileage {
	color: #666;
	font-size: 0.9rem;
}

.btn-primary {
	margin-top: auto;
	width: 100%;
	background-color: #bd0101 !important;
	border: none !important;
}

.card-img-top {
	width: 100%;
	height: 250px;
	object-fit: cover;
	border-bottom: 1px solid #eee;
}

.oferta-nube {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: #f00707;
	color: white;
	padding: 2.5px 5px;
	border-radius: 8px;
	font-weight: bold;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.oferta-icon {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: rgb(255, 196, 0);
	color: rgb(255, 255, 255);
	border-radius: 50%;
	width: 32px;
	height: 32px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.verMas:hover {
	font-weight: bold;
	transform: scale(1.02);
}
